<div>
  <h1><strong><%= flat.name %></strong></h1>

  <h3><%= flat.description %></h3>
  <p><%= flat.address %></p>

  <p><i class="fa-solid fa-user-group"></i><%= flat.number_of_guests %></p>
  <p><i class="fa-solid fa-sterling-sign"></i><%= flat.price_per_night %></p>

</div>
