<div>
  <h1>All our Flats</h1>
</div>

<div>
  <%= form_tag "/flats", method: "GET" do %>
    <%= label_tag :search_by_price %>
    <%= text_field_tag :search_by_price, params[:search_by_price] %>
    <%= submit_tag "Search" %>
  <% end %>
</div>


<%= link_to "Add Flat", new_flat_path %>

<br>
<br>

<div class="flat-card-image" style="background-image">
  <% @flats.each do |flat| %>
    <% unless flat.picture.nil? %>
      <img src="<%= flat.picture %>" alt="no picture">
    <% end %>
  <div>
    <%= render flat %>
      <div>
        <p><%= link_to "More info", flat_path(flat) %></p>
        <p><%= link_to "Edit", edit_flat_path(flat) %></p>
        <p><%= link_to "Remove" , flat_path(flat), data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' } %></p>
      </div>

  </div>
  <% end %>
</div>
